#nd:focus {
    color: rgb(38, 0, 255);
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: grey;
    color: honeydew;
}

.dropdown {
    display: none;
}

nav>ul>li:hover>ul {
    display: block;
    position: absolute;
}


/* a:visited {
    color: blue;
}

li:first-child {
    color: chocolate;
}

li:nth-child(2n) {
    color: cyan;
} */

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid gray;
    padding: 0px 10px;
    font-size: 30px;
}